<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>POC Almacenes</title>
  </head>
  <body>
    <div id="app">
          
        <div v-if="pantalla_actual=='login'" class="row">
            <div class="col-6 offset-3">

            
                <h2 class="text-center mt-5 mb-4">Gestión de Almacenes</h2>

                <div v-if="mensaje_error" class="alert alert-danger" role="alert">
                {{mensaje_error}}
                </div>
               
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Usuario</label>
                      <input v-model="usuario" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduce usuario de Mercadona" :autofocus="'autofocus'" :required="'required'">
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduce contraseña" required>
                    </div>
                    <!-- <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <div class="d-grid">
                        <button @click.prevent="valida_usuario()" type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>
                    </div>
                    
                  </form>
            </div>

            

        </div>


        <div v-if="pantalla_actual=='elige_almacen'" class="row">
            <div class="col-6 offset-3">
                <h2 class="text-center mt-5 mb-4">Selección de almacén</h2>
                <form>
                    <div class="mb-3">                      
                      <select class="form-select" aria-label="Default select example">
                        <option selected>0960 - Ribarroja Secos</option>
                        <option value="1">1001 - Ribarroja Congelados</option>                        
                      </select>
                    </div>                    
                    <div class="d-grid">
                        <button @click.prevent="menu_principal()" type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>
                    </div>
                    
                  </form>
            </div>
        </div>

        <div v-if="pantalla_actual=='menu_principal'">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a @click="logout()" class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                          </svg>                        
                        <b>Gestión de almacenes</b></a>
                      </li>                      
                    </ul>
                    <ul class="navbar-nav me-end mb-2 mb-lg-0">                        
                        <li class="nav-item">
                            <a class="nav-link " href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                              </svg></a>
                          </li>                      
                        <li class="nav-item">
                          <a class="nav-link " href="#">Juan Ramón Gavilanes</a>
                        </li>                      
                        <li class="nav-item">
                            <a class="nav-link " href="#">Almacén Ribarroja</a>
                          </li>                      
                      </ul>
                    
                    
                    
                  </div>
                </div>
              </nav>

              
                <div class="col-6 offset-3">
                    <h2 class="text-center mt-5 mb-4">Menú principal</h2>
                    <ul>
                        <li>uno</li>
                        <li>dos</li>
                    </ul>

                    
                    
                    
                </div>

                
                <div class="row fixed-bottom" style="background-color: lightgray">
                    <div class="col" style="margin: .5em;">
                        Terminal 12 ( 192.168.1.1 )
                    </div>
                </div>
            

        </div>
          
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

    var app = new Vue({
        el: '#app',
        data: {
            pantalla_actual: 'login',
            usuario:'',
            password:'',
            mensaje_error: '',           
        },
        methods: {
            valida_usuario() {
                if (this.usuario == 'juanra' && this.password == 'juanra' ) {
                  this.mensaje_error=''
                  this.pantalla_actual = 'elige_almacen'
                } else {
                  this.mensaje_error = 'Usuario no válido'
                }
                
            },
            menu_principal() {
                this.pantalla_actual = 'menu_principal'
            },
            logout() {
              this.usuario = ''
              this.password = ''
              this.pantalla_actual = 'login'
            }
        }
    })

    </script>

  </body>
</html>
